@import "./Vars.scss";
@import "./Media.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.description-section{
    background-color: red;
    display: none;
}
