@media (min-width: 320px) and (max-width: 799px) {
  .description-section{
    display: none;
  }

  // #wrapper {
    // background-color: rgb(164, 245, 245);
  // }
}

@media (min-width: 800px) {
  // #wrapper {
  //   background-color: rgb(240, 160, 113);
  // }

  .description-section{
    display: initial;
  }
  .right-section.welcome{
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .account--card {
    width: 426px;
    justify-content: initial !important;
    padding: 20px !important;
  }

  .account--card:hover {
    background: $gray-background !important;
    border: 2px solid #4f934a !important;
    .arrow-icon {
      display: initial !important;
      margin-left: 40px;
      display: initial;
      text-align: center;
      vertical-align: middle;
    }
  }
}

@media (min-width: 1024px) {
  .right-section.welcome{
    width: 54%;
  }

}