$fontBase: "Inter", sans-serif;
$headline1: bold 3rem / 36.31px $fontBase;
$headline2: 2rem / 38px $fontBase;
$headline3: 1.8rem / 28px $fontBase;
$headline4: bold 1.6rem / 19.36px $fontBase;
$headline5: 1.4rem / 16.94px $fontBase;
$error-headline1: bold 2.4rem /33px $fontBase;
$error-headline2: 1.7rem / 24px $fontBase;

$green: #4f934a;
$gren-quotes: #008753;
$green-bkg-image: #4f934a, 90%;
$white: #fff;
$main-background: #e5e5e5;
$gray-font: #8692a6;
$gray-background: #f5f9ff;
$error-background: #000000, 20%;
$black: #000;

$header-font: 1.6rem / 19.36px $fontBase;
$steps-font: 1.4rem / 17px $fontBase;
$header-text: rgba(134, 146, 166, 1);
