$fontBase: 'Inter', sans-serif;
$headline1: bold 30px/36.31px var($fontBase);
$headline1: 20px/38px var($fontBase);
$headline3: 18px/28px var($fontBase);
$headline4: 16px/19.36px var($fontBase);
$heaedline5: 14px/16.94px var($fontBase);
$error-headline1: bold 24px/33px var($fontBase);
$error-headline2: 17px/24px var($fontBase);
$green: #4F934A;
$gren-quotes: #008753;
$green-bkg-image: #4F934A, 90%;
$white: #fff;
$main-background: #E5E5E5;
$gray-font: #8692A6;
$gray-background: #F5F9FF;
$error-background: #000000, 20%;
$black: #000;
