@import "../Vars.scss";
@import "../Media.scss";

.right-section.welcome {
 
  .main-text {
    max-width: 400px;
    h1 {
      font: $headline1;
      padding: 0 28px;
    }
    p {
      font: $headline3;
      color: $gray-font;
      padding: 0 28px;
    }
  }

  .account-cards{
    .arrow-icon {
      display: none;
    }

    display: flex;
    flex-direction: column;
    gap: 35px;
    .account--card {
      max-width: 428px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 10px;
      margin: 0 20px;
      border-radius: 6px;
      background: $white;
      box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06);
      border: 2px solid transparent;
      cursor: pointer;

      div {
        margin-left: 28px;
      }
      h2 {
        color: $black;
        font: $headline4;
      }
      p {
        color: $gray-font;
        font: $headline5;
        max-width: 233px;
      }
    }
  }

  .login-invite{
    color: $gray-font;
    font: $headline3;

    span{
      color: $green;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
